header {
  background-color: black;
}

body {
    position: relative;
    background-color: white;
    margin:  0px;
}

h1 {
    color: black;
    margin-left: 20px;
    font-family: "Arial";
}

nav {
    margin-left: 00px;
}

main {
    margin-left: 50px;
}

footer {
    /*height: 20px;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Arial";
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    text-align: center;


}


a
{
color: black;
text-decoration: none;
/*font-weight:lighter;*/
font-size: 20px;
font-family: "Arial";
}

.flex-container-left {
    position: fixed;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    /*-webkit-justify-content: space-between;*/
    flex-direction: column;
    width: 130px;
    height: 100%;
    background-color: lightgrey;/*
    top:; bottom:0; left:0;*/
    line-height:1.4em;
    float: left;

}



.flex-item{
    /*margin-left: auto;*/
    margin:10px 15px 10px 10px;
}


.name_header {

    text-align: center;
}


.sections_header {
    color: white;
    text-decoration: none;
    /*font-weight:bold;*/
    font-size: 18px;
    font-family: "Arial";
    text-align: left;
    margin-left: 10px

}

.button_link {
    background-color: black;
    border: none;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_name {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    font-weight:bold;
    font-size: 35px;
    font-family: Impact, Charcoal, sans-serif;
    align-content: center;
}

.button_bottom {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    vertical-align: :align-content;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}



.button_link:hover {
    background-color: white /* Green */
    color: white;
    opacity: 20%;
}

.button_bottom:hover {
    background-color: white /* Green */
    color: white;
    opacity: 20%;
}

.margin_header{ margin-left: 10px;  }